

.header {
    border: 2px solid black;
    height: 15vh;
    display: flex;
    background-color:rgb(147, 228, 255);
    flex-direction: column;
    justify-content: flex-end;
}

.form-control {
    width: 30vw;
}

