<div class="container-fluid header">
    <div class="row">
            <input type="text" class="form-control col-6 m-3" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary col-1 m-3" type="submit">Search</button>
            <a class="btn col-1 m-3" routerLink = "">Home</a>
            <a class="btn col-1 m-3" routerLink = "">Register</a>
            <a class="btn col-1 m-3" routerLink = "">History</a>
            <a class="btn col-1 m-3" routerLink = "">Contact us</a>
            <a class="btn col-1 m-3" routerLink = "">About</a>
    </div>
</div>  
